{% extends 'streamapp/home.html' %}
{% load static %}

{% block content %}
<div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">
                  <font style="vertical-align: inherit"
                    ><font style="vertical-align: inherit"
                      >Panel de Ayuda</font
                    ></font>
                </h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item">
                    <a href="{% url 'index' %}"
                      ><font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">Home</font></font
                      ></a>
                  </li>
                  <li class="breadcrumb-item active">
                    <font style="vertical-align: inherit"
                      ><font style="vertical-align: inherit"
                        >Panel de Ayuda</font
                      ></font>
                  </li>
                </ol>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
</div>


{% endblock %}